@font-face {
    font-family: 'Uni Sans Heavy Italics Caps';
    src: url('uni_sans_heavy_italic-webfont.woff2') format('woff2'), url('uni_sans_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy Caps';
    src: url('uni_sans_heavy-webfont.woff2') format('woff2'), url('uni_sans_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Thin Italics Caps';
    src: url('uni_sans_thin_italic-webfont.woff2') format('woff2'), url('uni_sans_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Thin Caps';
    src: url('uni_sans_thin-webfont.woff2') format('woff2'), url('uni_sans_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
